@import "tailwindcss";

@theme {
  --color-led-on: #ffaa00;
  --color-led-glow: #ff8800;
  --color-led-off: #1a0d00;
}

body {
  @apply bg-zinc-950 text-zinc-100;
}

html {
  scroll-behavior: smooth;
}
